<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @creator.first_name %> !</h1>
    <p>
      Petit mail pour te dire que  <%= @participant.first_name %> va venir a ton super evenement : "<%= @event.title %>" !
    </p>
    <p>Il y a <%= @nb %> participant(s) a ce jours
    <p>
      Pour accéder à ton espace, connecte-toi via : <%= @url %>.
    </p>
    <p> À très vite sur https://yaya-envent-brite.herokuapp.com/
 !
  </body>
</html>