<h4>Prénom:</h4>
<p> <%= @user.first_name %></p>
<h4>Nom:</h4>
<p><%= @user.last_name %></p>
<h4>Description:</h4>
<p> <%= @user.description %></p>
<h4>Email:</h4>
<p><%= @user.email %></p>


<p class="btn btn-primary text-center"> <%= link_to "Edit", edit_user_path(@user.id)%> </p>

<h4 class="text-center">Les évenements que tu as crée:</h4>



<div class="row">

<% @event_owned.each do |i| %>
<div class="card col-sm-3 text-center">
  <div class="card-header">
    <p>Event n°<%= i.id %></p>
  </div>
  <div class="card-body">
    <h5 class="card-title">titre : <%= i.title %></h5>
    <p class="card-text">date : <%= i.start_date %></p>
    <p class="btn btn-primary"><%= link_to "En savoir plus", event_path(i.id) %> </p>
  </div>
</div>
<% end %>

</div>