<h1> editer un evenement </h1>

<p> je sais c'est moche comme front </p>
<%= form_for @event do |f| %>
<label> titre</label>
  <%= f.text_field :title %>
  <p>
<label>description</label>
  <%= f.text_area :description %>
  <p>
<label>date de départ (format az/AZ/AZZE svp)</label>
  <%= f.text_field :start_date %>
</p>
<label>durée en minutes stp</label>
  <%= f.text_field :duration %>
</p>
<label>emplacement</label>
  <%= f.text_field :location %>
</p>
<label>Prix</label>
  <%= f.text_field :price %>
</p>
<div class="form-group">
  <button type="submit" class="btn btn-primary">Modifier</button>
</div>
<p class="btn btn-primary"> <%= link_to "effacer l'evenement", event_path(@event.id), method: :delete, data: { confirm: 'Are you sure?' }%> </p>
<% end %>