

<h1> Titre: <%= @one_event.title %> </h1>
<h4> Auteur :</h4>
<p> <%= @one_event.admin.first_name %></p>
<h5> titre:</h5>
<p> <%= @one_event.title %></p>
<h5> Description :</h5>
<p> <%= @one_event.description %></p>
<h5> date:</h5>
<p> <%= @one_event.start_date %></p>
<h5> endroit :</h5>
<p> <%= @one_event.location %></p>
<h5> prix:</h5>
<p> <%= @one_event.price %></p>


